<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBauiiK4RzU0EjgyAggzpVg3ogJs-CnWTg&libraries=places"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="col m8" id="map"></div>
  </body>
</html>
