<!DOCTYPE html>
<html style = "padding-top:0;">

<head>
  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">


  <title>Skate Spotter</title>

  <title>Skate Spotter</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

</head>

<body style = "padding-top:0;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="/about">SKATE SPOTTER</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/" id='logout'>Log Out</a></li>
          <li><a href="#top">Back to Map</a></li>
          <li><a href="#createSkate">Create Skate Spot</a></li>
            </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <a name="top"></a>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  -->

  <div id="map"></div>
  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
  <div class="container">
    <div class="container" id = "createSkate">
  <h1>Create New Spot</h1>
      <form  class="well form-horizontal" action="createSkateSpot" method="post" id="SpotForm">
        <fieldset>
          <form>

            <div class="form-group">
    <div class="container" id="createSkate">

      <form class="well form-horizontal" method="post" id="spotForm">


        <div id="floating-panel">
          <input id="address" type="textbox" placeholder="address">

          <input id="name" type="textbox" placeholder="name">

          <input id="bust" type="textbox" placeholder="bust level">

          <input id="difficulty" type="textbox" placeholder="difficulty">

          <input id="photo_url" type="textbox" placeholder="photo_url">

          <input id="description" type="textbox" placeholder="description">

          <input id="submit" type="button" value="submit">
        </div>
      </div>


          </form>
        </fieldset>
      </form>

    </div>
    <!--end of create skate spot div  -->
  </div>

  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
  <script>
    var coordinants = [];
    function initMap(latlng) {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {
          lat: 40.015861,
          lng: -105.279284
        }
      })
      fetch('/spots')
        .then((res) => res.json())
        .then((resjson) => {
          console.log(resjson)
          for (j = 0; j < resjson.length; j++) {
            for (var prop in resjson[j]) {
              var name = resjson[j].name;
              var lat = resjson[j].lat;
              var lng = resjson[j].lon;
            }
            const coord = {
              lat: lat,
              lng: lng
            }
            coordinants.push(coord);
          }
          var filterFloat = function(value) {
            if (/^(\-|\+)?([0-9]+(\.[0-9]+)?|Infinity)$/
              .test(value))
              return Number(value);
            return NaN;
          };
          for (i = 0; i < coordinants.length; i++) {
            var parseLat = filterFloat(coordinants[i].lat)
            console.log(parseLat)
            var parseLng = filterFloat(coordinants[i].lng)
            new google.maps.Marker({
              position: {
                lat: parseLat,
                lng: parseLng
              },
              map: map,
              title: name
            })
          }
        })
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqfcq9t7kpG5XPKI5kHTdifsxwLMqUIDQ&callback=initMap"></script>
  <script src="/javascripts/map.js" charset="utf-8"></script>

  <!-- add forms here -->

  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <form class="well form-horizontal" method="post" id="editForm">
        <h2>Create New Skate Spot</h2>

        <div id="floating-panel2">
          <input id="address2" type="textbox" placeholder="address">
          <input id="name2" type="textbox" placeholder="name">
          <input id="bust2" type="textbox" placeholder="bust level">
          <input id="difficulty2" type="textbox" placeholder="difficulty">
          <input id="photo_url2" type="textbox" placeholder="photo_url">
          <input id="description2" type="textbox" placeholder="description">
          <input id="submit2" type="button" value="submit">
        </div>
      </form>
    </div>

  </div>
</body>

</html>
