<!DOCTYPE html>
<html style = "padding-top:0;">

<head>


  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">


  <title>map.ejs</title>

  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

</head>

<body style = "padding-top:0;">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="/about">SKATE SPOT</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id='logout'>Log Out</a></li>
          <li><a href="#top">Back to Map</a></li>
          <li><a href="#createSkate">Create Skate Spot</a></li>
          <!-- <li><a href="#">Find Users</a></li> -->
            </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <a name="top"></a>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  -->

  <div id="map"></div>
  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->

  <div class="container">
    <div class="container" id = "createSkate">



      <h1>Create New Skate Spot</h1>
      <form id="registerForm" class="well form-horizontal" id="SpotForm" action="createSkateSpot" method="post">
        <fieldset>
          <div class="form-group">
            <label class="col-md-4 control-label">Closest Address</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                <input id="address" type="textbox" placeholder="Closest Address">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Name</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                <input id = "name" placeholder="Name"  type="textbox">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Bust Level</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-alert"></i></span>
                <input id="bust" type="textbox" placeholder="Bust Level">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Difficulty Level</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-signal"></i></span>
                <input id="difficulty" type="textbox" placeholder="Difficulty Level">
              </div>
            </div>
          </div>

          <!--Text input-->

          <div class="form-group">
            <label class="col-md-4 control-label">Photo-url</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
                <input id="photo_url" type="text" placeholder="Photo url">
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Description</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-star-empty"></i></span>
                <input id="description" type="textbox" placeholder="description">
              </div>
            </div>
          </div>


          <!--Button -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4"><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button id="submitButton" type="submit" class="submitSignUp btn btn-warning"><span class="glyphicon glyphicon-send"> Submit</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            </div>
          </div>

        </fieldset>
      </form>
      <!--end of New User Form -->

    </div>








  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
  <script>
    var coordinants = [];

    function initMap(latlng) {
      // var myLatLng = {lat: 21, lng: -141};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: {
          lat: 40.015861,
          lng: -105.279284
        }
      })

      fetch('http://localhost:3000/spots')
        .then((res) => res.json())
        .then((resjson) => {
          console.log(resjson)
          for (j = 0; j < resjson.length; j++) {
            for (var prop in resjson[j]) {
              var name = resjson[j].name;
              var lat = resjson[j].lat;
              var lng = resjson[j].lon;
            }

            const coord = {
              lat: lat,
              lng: lng
            }
            coordinants.push(coord);
          }

          var filterFloat = function(value) {
            if (/^(\-|\+)?([0-9]+(\.[0-9]+)?|Infinity)$/
              .test(value))
              return Number(value);
            return NaN;
          };

          for (i = 0; i < coordinants.length; i++) {
            var parseLat = filterFloat(coordinants[i].lat)
            console.log(parseLat)
            var parseLng = filterFloat(coordinants[i].lng)
            new google.maps.Marker({
              position: {
                lat: parseLat,
                lng: parseLng
              },
              map: map,
              title: name
            })
          }
        })
    }

    //   var makeMarker = (latlng) => {
    //     var marker = new google.maps.Marker({
    //     position: latlng,
    //     map: map,
    //     title: 'Hello World!'
    //   })
    // }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqfcq9t7kpG5XPKI5kHTdifsxwLMqUIDQ&callback=initMap"></script>
  <script src="/javascripts/map.js" charset="utf-8"></script>

  <!-- add forms here -->
</body>

</html>
