<!DOCTYPE html>
<html>

<head>

  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">

</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="/about">SKATE SPOT</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Log Out</a></li>
          <li><a href="#top">Back to Map</a></li>
          <li><a href="#createSkate">Create Skate Spot</a></li>
          <!-- <li><a href="#">Find Users</a></li> -->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <a name="top"></a>
  <!--:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::  -->

  <div id="map"></div>
  <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
  <div class="container">
    <div class="container" id="createSkate">

      <form class="well form-horizontal" method="post" id="spotForm">
        <h2>Create New Skate Spot</h2>

        <div id="floating-panel">
          <input id="address" type="textbox" value="address">
          <input id="name" type="textbox" value="name">
          <input id="bust" type="textbox" value="bust level">
          <input id="difficulty" type="textbox" value="difficulty">
          <input id="photo_url" type="textbox" value="photo_url">
          <input id="description" type="textbox" value="description">
          <input id="submit" type="button" value="submit">
        </div>
      </form>

    </div>
    <!--end of create skate spot div  -->
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqfcq9t7kpG5XPKI5kHTdifsxwLMqUIDQ&callback=initMap"></script>
  <script src="/js/map.js">
  </script>
  <!-- add forms here -->
</body>

</html>
