<!DOCTYPE html>



<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Skate Spotter</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/about">SKATE SPOTTER</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Log In</a></li>
          <li class="active"><a href="signUp">Sign Up</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <!-- Photo by Michał Grosicki on Unsplash -->
  <div class="container">
    <div class="container">



      <h1>Register New User</h1>
      <form id="registerForm" class="well form-horizontal" action="register" method="post">
        <fieldset>
<!--USER NAME  -->
          <div class="form-group">
            <label class="col-md-4 control-label">Username</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="user_name" placeholder="Username" class="userNameInput input-lg" type="text">
              </div>
            </div>
          </div>
<!--FIRST NAME  -->
          <div class="form-group">
            <label class="col-md-4 control-label">First Name</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="first_name" placeholder="First Name" class="firstNameInput input-lg" type="text">
              </div>
            </div>
          </div>
<!--LAST NAME  -->
          <div class="form-group">
            <label class="col-md-4 control-label">Last Name</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="last_name" placeholder="Last Name" class="lastNameInput input-lg" type="text">
              </div>
            </div>
          </div>
<!--PASSWORD  -->
          <div class="form-group">
            <label class="col-md-4 control-label">Password</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input name="password" placeholder="Password" class="passwordInput input-lg" type="password">
              </div>
            </div>
          </div>

<!--CONFIRM PASSWORD-->

          <div class="form-group">
            <label class="col-md-4 control-label">Confirm Password</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input name="confirm_password" placeholder="Confirm Password" class="confirmPasswordInput input-lg" type="password">
              </div>
            </div>
          </div>

<!-- E-MAIL-->
          <div class="form-group">
            <label class="col-md-4 control-label">E-Mail</label>
            <div class="col-md-4 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input name="email" placeholder="E-Mail Address" class="emailInput input-lg" type="text">
              </div>
            </div>
          </div>
<!--BRIEF BIO  -->
          <div class="form-group">
            <!-- <label class="col-md-4 control-label">Brief Bio</label> -->
            <div class="col-md-12 inputGroupContainer center">
              <div class="input-group col-md-12">
                <!-- <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span> -->
                <textarea id = "bio" name="bio" placeholder="You in Five Words" class="bioInput" type="textbox" style = "width:100%;height:50px;"></textarea>
              </div>
            </div>
          </div>


<!--BUTTON -->
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4"><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <button id="submitButton" type="submit" class="submitSignUp"><span class="glyphicon glyphicon-send"> Submit</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            </div>
          </div>

        </fieldset>
      </form>
      <!--end of New User Form -->

    </div>
    <!--based on: https://codepen.io/juff03/pen/OXaXRG -->

  </div>
  <!-- /.container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/register.js" charset="utf-8"></script>
<script type="text/javascript" src = /public/javascripts/register.js>

</script>
</body>

</html>
