/* Optional: Makes the sample page fill the window. */
html, body {
  height:100%;
  margin:0;
  padding-top:60px;
}
body {
  font-family: 'Fjalla One', sans-serif;
  /*font-family: 'Orbitron', sans-serif;*/
  background-image: url("/images/michal-grosicki-235026.jpg")
}

a{
  color:greenyellow;
}


h1 {
  font-size:65px;
  font-weight:800;
  font-style: italic;
  color:greenyellow;
  text-shadow: 2px 2px 5px purple;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-align: center;
  font-style: italic;
  color: darkorange;
  text-shadow: 2px 2px 5px indigo;

}

textarea{
  display:block;
  text-align: center;
  margin:auto;
  width:50%
}
.firstHeading{
  color:darkorange;
  font-size:40px;
  font-style:normal;
}

.wider{
  width:100%;
}
.center{
  text-align:center;
  display: block;
  margin:auto;
  padding-left: 100px;
}

#createSkate{
  width:100%;
  margin:auto;
}

#bio{
  width:50%
  margin:auto;
  text-align: center;
}
#registerForm{
  width:70%;
  margin:auto;
}
#success_message{ display: none;}

  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
