body {

  font-family: 'Fjalla One', sans-serif;
  /*font-family: 'Orbitron', sans-serif;*/
  background-image: url("/images/michal-grosicki-235026.jpg")
}

a {
  color: #00B7FF;
}
h1 {
  font-size:65px;
  font-weight:800;
  font-style: italic;
  color:greenyellow;
  text-shadow: 2px 2px 5px purple;
  text-align: center;
  padding:20px;
}

.container{
  50%;
}

.space{
  padding-top 80px;
}
#photo-url #description{
  width:75%;
}

  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding-top: 70px;
  }

  .space{
  padding-top 80px;
}

  #bio{
    width: 50%;
    margin:auto;
  }

  .form-horizontal {
    width: 75% ;
  margin-left: auto ;
  margin-right: auto ;
  }
  .navbar-inverse .navbar-brand {
    color: greenyellow;
}
