body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: "/images/michal-grosicki-235026.jpg"
}

a {
  color: #00B7FF;
}
h1 {
  color: red;
}
h2{
  cornflowerblue;
}

#map {
  height: 500px;
  length: 500px;
}
